<div id="description">
  <h5 class="description-text">Whether you're playing ranked and trying to look 'legit',
    or raging on custom servers, the Plastic Ultra Cheat CS:GO cheat is fully customizable for how you play.
    Hide your aimbot usage with smooth aiming, or take out everyone who gets close to you with the headshot
    aiming mode.
  </h5>

  <h5 class="description-text"> Dominate in CSGO's Battle Royale/Danger Zone mode as you can easily see
    the locations of any other player in your vicinity and eliminate them easily with the aimbot.</h5>

  <h5 class="description-text"> With the wall hack along with our glow hack,
    you'll be able to see every opponent coming.
    If you're planning on climbing the ranked ladder, sticking to our ESP
    and 2D radar cheats will help you
    avoid being reported by other players as you climb your way to Global Elite.</h5>

  <h5 class="description-text">You will get instructions on how to use our cheat
    inside the archive below.</h5>

    

</div>


<div>
  <!-- <img src="assets\img\csgo-cheat1.jpg" id="cheat-photo-1"> -->
  <img src="assets\img\csgo-cheat3.jpg" id="cheat-photo-3">
  <img src="assets\img\csgo-cheat4.jpg" id="cheat-photo-4">
  <img src="assets\img\csgo-cheat2.jpg" id="cheat-photo-2">

</div>

