#cheat-photo-1{
    width: 80%;
    height: 38%;
    position: relative;
    left: 9%;
    margin-top: 10px;;

}

#cheat-photo-2{
    width: 80%;
    height: 27%;
    position: relative;
    left: 9%;
    margin-top: 10px;;

}
#cheat-photo-3{
    width: 80%;
    height: 30%;
    position: relative;
    left: 9%;
    margin-top: 10px;;

}
#cheat-photo-4{
    width: 80%;
    height: 30%;
    position: relative;
    left: 9%;
    margin-top: 10px;;

}




