#cheat-photo-2{
    width: 80%;
    height: 38%;
    position: relative;
    left: 9%;
    margin-top: 10px;
}

#cheat-photo-3 {
    width: 40%;
    position: relative;
    margin-top: 45px;
    margin-bottom: 25px;
    left: 30%;
}

