<div id="description">
    <h5 class="description-text">  Tired of dumb teamates? You can't climb your ladder of high MMR? 
        Then it's time for you to start using Plastic Hack software!
   </h5>    
    <h5 class="description-text"> Whether you're playing ranked MMR,
      or on casual servers, the Plastic Hack's cheat is fully customizable for how you play. 
      Easy to use PlasticHack Cheat for DOTA2 provides camera hack,
        map hack, as well as various scripts and much more! 
    </h5>  
    <h5 class="description-text"> Instructions on how to use our cheat will be in the archive below: 
    </h5> 
  
  </div>
  
  
  <div>
    <img src="assets\img\dota2-cheat1.jpg" id="cheat-photo-2">
    <img src="assets\img\dota2-cheat2.jpg" id="cheat-photo-3">
  </div>

