#backgr{
    position: fixed;
    z-index: -5;
    margin-top: -110px;
    margin-left: -20px;
    object-fit: cover;
    width: 110%;
    height: 105%;
    
}

#maincontent{
    margin-top: 25px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.603);
    border: rgba(255, 255, 0, 0.432) solid 1px;
    padding-bottom: 30px;
    border-radius: 25px;

}