<!-- Image and text -->
<nav class="navbar" id="header">

    <a class="navbar" href="https://steamcommunity.com/groups/plastichack" target="_blank" alt="Steam">
        <img src="assets\img\steam-logo-circled.png" width="65" height="65" class="d-inline-block align-top" alt="Steam"
            loading="lazy">

    </a>

    <a class="navbar-brand" href="#" download="plastic-hack-logo.jpg">
        <img src="assets\img\ph-logo-circled.png" width="65" height="65" class="d-inline-block align-top" alt=""
            loading="lazy" title="Download our avatar">

    </a>

    <a class="navbar-brand nav-right" href="https://discord.gg/zEthEgF" target="_blank" alt="Discord">
        <img src="assets\img\discord-logo-circled.png" width="65" height="65" class="d-inline-block align-top"
            alt="Steam" loading="lazy">

    </a>

</nav>