<nav class="navbar-fluid navbar-expand-lg" id="navbarNav">

  <div class="navbar-expand-lg navbar-fluid" id="navbarGames">

    <ul  class="nav justify-content-center">

      <!-- (click)="ToggleShowCsgo()" -->
      <li class="nav-item active" id="csgo-logo">
        <a routerLink="" routerLinkActive="active">
          <img class="game-logo" src="assets\img\csgo-logo.png" title="Counter Strike: Global Offensive">
          <!-- <a>CS:GO <span class="sr-only">(current)</span></a> -->
        </a>
      </li>

      <!-- (click)="ToggleShowDota2()" -->
      <li class="nav-item active">
        <a routerLink="/dota2" routerLinkActive="active">
          <img class="game-logo" src="assets\img\dota2-logo.png" title="DOTA 2"> </a>
      </li>

      <li class="nav-item active">
        <a routerLink="/pubg" routerLinkActive="active">
          <img class="game-logo" src="assets\img\pubg-logo.png" title="PlayerUnknown's Battlegrounds ">
          <!-- <a class="nav-link disabled" href="#">PUBG</a> -->
        </a>
      </li>

      <!--

      <li class="nav-item">
        <img class="game-logo" src="assets\img\warface-logo.png" title="Warface" id="warface-logo">

      
      </li>
      -->

    </ul>
  </div>
</nav>