#description {
    margin: 15px;
}

.description-text{
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 25px;
    color:rgba(255, 255, 255, 0.863);
}


#button-download{
    margin-top: 90px;
    font-size: 25px;
    position: relative;
    /* left: 3%; */
}