<div id="description">
    <h5 class="description-text">
        While there are a lot of detected and not stable hacks
        which can lead to your account block, Plastic Hack provide you with
        fully undetectable PUBG hacks with aimbot and ESP features.
    </h5>

    <h5 class="description-text">
        These two hacks blend together so well to execute a deadly ambush
        on unsuspecting enemies. For instance, once you spot an enemy through
        a wall using the wallhack, you can set him up by waiting for him to
        come out of the wall shield and when he does, use the aimbot to
        deliver that perfect headshot. Nothing feels more clinical and satisfying than that.
    </h5>

    <h5 class="description-text"> Use of hacks in PUBG (Player Unknown’s Battle Ground)
        is well-settled. Since the game began,
        PUBG has even banned almost two million players
        who were found to be using cheats. But as is the usual story,
        many of them still continue to keep using cheats to improve their in-game
        character’s stats and rank, or some just use it to annoy other players
        for the fun of it.​</h5>

</div>


<div>
    <!-- <img src="assets\img\csgo-cheat1.jpg" id="cheat-photo-1"> -->
    <img src="assets\img\pubg-cheat1.jpg" id="cheat-photo-1">

</div>